@import '../../colors.scss';
/*======================================================
                       Landing Page                      
  ======================================================*/
.canvas {
    background-color: #{$base03};
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    width: 100vw;
    max-width: 100%;
}

.title {
    font-family: 'Raleway', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

    h1 {
        font-size: 5em;
        margin: 0;
        color: #{$base0};
        z-index: 1;
    }

    @media (max-width: 640px) {
        h1 {
            font-size: 3em;
            margin-bottom: 30px;
        }
    }
}

.subTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;

    h4 {
        font-size: 1.2em;
        color: #{$magenta};
        margin: 5px;
    }

    @media (max-width: 640px) {
        flex-direction: column;

        h4 {
            margin: 0;
        }
    }
}

.learn {
    color: #{$base0};
    margin-top: 30px;
    padding: 12px 20px 12px 20px;
    border: 2px solid #{$base0};
    font-size: 16pt;
    cursor: pointer;
    box-sizing: inherit;
    display: inline-block;
    background-color: transparent;
    transition: all 0.5s;
    z-index: 1;

    &:hover {
        color: #{$magenta};
        border-color: #{$magenta};
    }

    @media (max-width: 640px) {
        font-size: 13pt;
    }
}
