/*======================================================
                           Modal                      
  ======================================================*/
.Content-Title {
    font-size: 2.5em;
    text-decoration: underline 5px #e31b6d;
    color: rgb(13, 26, 38);
}

.Content-SubTitle {
    font-size: 2em;
    text-decoration: underline 5px #e31b6d;
    color: rgb(13, 26, 38);
}

.Content-Text {
    width: 100%;
    text-align: justify;
    color: rgb(13, 26, 38);
}

.Content-Links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 70%;
    margin: 0 15% 0 15%;
}

.Content-Link {
    color: #e31b6d;
    font-size: 1.2em;
    width: calc(35% - 5px);
    text-align: center;
}

.Content-Skills {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
}

.Content-Skill {
    width: calc(33% - 5px);
}

.Content-Skill-Container {
    width: 100%;
    background-color: #ddd;
}

.Content-Skill-Status {
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    background-color: #e31b6d;
}

/*======================================================
                    Mobile Modal                     
  ======================================================*/
@media(max-width: 640px) {
    .Content-Skill {
        width: calc(50% - 5px);
    }
}