/*======================================================
                     Experience Page                      
  ======================================================*/

.Experience-Container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75%;
  height: 70%;
  margin-top: 60px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  border-radius: 5px;
}

.Experience-Block {
  width: 50%;
}

.Experience-Title {
  font-size: 2.5em;
  text-decoration: underline 5px #e31b6d;
  color: rgb(13, 26, 38);
}

.Experience-Text {
  width: 85%;
  text-align: justify;
  color: rgb(13, 26, 38);
}

.Hex {
  display: flex;
  --s: 100px;
  /* size  */
  --m: 4px;
  /* margin */
  --f: calc(1.732 * var(--s) + 4 * var(--m) - 1px);
  width: 50%;
}

.Hex-Container {
  font-size: 0;
  /*disable white space between inline block element */
  width: 60%;
  padding: 20%;
}

.Hex-Container div {
  width: var(--s);
  margin: var(--m);
  height: calc(var(--s)*1.1547);
  display: inline-block;
  font-size: initial;
  clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
  background: #f2f2f2;
  margin-bottom: calc(var(--m) - var(--s)*0.2885);
  overflow: hidden;
}

.Hex-Container div div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.Hex-Container div div img {
  width: 90%;
}

.Hex-Container::before {
  content: "";
  width: calc(var(--s)/2 + var(--m));
  float: left;
  height: 120%;
  shape-outside: repeating-linear-gradient(transparent 0 calc(var(--f) - 3px), #000 0 var(--f));
}


/*======================================================
                  Mobile Experience Page                      
  ======================================================*/

@media(max-width: 640px) {
  .Experience-Container {
    flex-direction: column;
    width: 90%;
    height: 88%;
  }

  .Hex {
    display: flex;
    --s: 90px;
    /* size  */
    --m: 2px;
    /* margin */
    --f: calc(1.732 * var(--s) + 4 * var(--m) - 1px);
  }

  .Hex-Container {
    width: 90%;
    padding: 5%;
  }
}