/*======================================================
                        Contact Page                      
  ======================================================*/

.contactContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75%;
    height: 70%;
    margin-top: 60px;

    @media(max-width: 640px) {
        flex-direction: column;
        width: 90%;
        height: 88%;
    }
}

.contactBlock {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;

    h1 {
        font-size: 2.5em;
        text-decoration: underline 2px rgba(227, 27, 109, 0.8);
        color: white;

        @media(max-width: 640px) {
            font-size: 1.8em;
            text-align: center;
        }
    }

    h3 {
        color: white;
    }
}

.contactLinks {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;

    a {
        margin: 10px 30px;
    }
}

.contactIcon {
    color: rgba(227, 27, 109, 0.8);
}