/*======================================================
                           Modal                      
  ======================================================*/
.ProjectTitle {
    font-size: 2.5em;
    text-decoration: underline 2px rgba(227, 27, 109, 0.8);
    color: white;
}

.ProjectText {
    width: 100%;
    text-align: justify;
    color: white;
}

.ProjectLinks {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 70%;
    margin: 0 15% 0 15%;
}

.ProjectLink {
    color: rgba(227, 27, 109, 0.8);
    font-size: 1.2em;
    width: calc(35% - 5px);
    text-align: center;
}