/*======================================================
                        Modal Content                      
  ======================================================*/

.modalTitle {
    font-size: 2.5em;
    text-decoration: underline 2px rgba(227, 27, 109, 0.8);
    color: white;
}

.modalSubTitle {
    font-size: 2em;
    text-decoration: underline 2px rgba(227, 27, 109, 0.8);
    color: white;
}

.modalText {
    width: 100%;
    text-align: justify;
    color: white;
}

.modalLinks {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 70%;
    margin: 0 15% 0 15%;

    a {
        color: rgba(227, 27, 109, 0.8);
        font-size: 1.2em;
        width: calc(35% - 5px);
        text-align: center;
    }
}

.modalSkills {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
}

.modalSkill {
    width: calc(33% - 5px);

    p {
        color: white;
    }

    div {
        width: 100%;
        background-color: #ddd;
    }

    div div {
        text-align: right;
        padding-top: 10px;
        padding-bottom: 10px;
        color: white;
        background-color: #e31b6d;
    }

    @media(max-width: 640px) {
        width: calc(50% - 5px);
    }
}