/*======================================================
                     Projects Page                      
  ======================================================*/
.projectsContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75%;
    height: 70%;
    margin-top: 60px;
    flex-direction: column;

    @media(max-width: 640px) {
        width: 90%;
    }
}

.projectsTitle {
    font-size: 2.5em;
    text-decoration: underline 2px rgba(227, 27, 109, 0.8);
    color: white;
    margin-block-end: 0.5em;
}

.projectsCardContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    width: 100%;
    height: calc(100% - 3em);
}