/*======================================================
                           Modal                      
  ======================================================*/

.experienceTitle {
    font-size: 2.5em;
    text-decoration: underline 2px rgba(227, 27, 109, 0.8);
    color: white;
}

.experienceSubTitle {
    font-size: 2em;
    text-decoration: underline 2px rgba(227, 27, 109, 0.8);
    color: white;
}

.experienceText {
    width: 100%;
    text-align: justify;
    color: white;
}

.experienceSkills {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
}

.experienceSkill {
    width: calc(33% - 5px);

    p {
        color: white;
    }

    @media(max-width: 640px) {
        width: calc(50% - 5px);
    }
}

.experienceSkillContainer {
    width: 100%;
    background-color: #ddd;
}

.experienceSkillStatus {
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    background-color: #e31b6d;
}