/*======================================================
                           Card                      
  ======================================================*/

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(33% - 10px);
    border-radius: 5px;
    cursor: pointer;
    background-color: rgba(68, 75, 95, 0.95);
    box-sizing: border-box;
    max-height: calc(50% - 10px);

    &:hover {
        border: 2px solid rgba(227, 27, 109, 0.5);
    }

    @media(max-width: 640px) {
        width: calc(50% - 10px);
        max-height: calc(33% - 10px);
    }
}

.cardTitle {
    box-sizing: border-box;
    color: white;
    text-align: center;
    margin: auto;

    @media(max-width: 640px) {
        font-size: 0.8em;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.cardImg {
    box-sizing: border-box;
    width: 100%;
    border-radius: 5px 5px 0 0;
}